# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/

# Terraform
*.terraform/
*.tfstate
*.tfstate.*
crash.log

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Build artifacts
*.zip
